DirectoryIndex index.php
RewriteEngine on


RewriteCond %{REQUEST_FILENAME} !-F
RewriteRule ^getmail/folder/(.*)$ ?action=getmail&folder=$1 [L]
RewriteRule ^getmail/mail/(.*)$ ?action=getmail&mail=$1 [L]